<!doctype html>
<html ng-app="app5" ng-cloak>
  <head>
    <title>AngularJS Tutorial 5</title>
    <style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
    table{
      width: 400px;
      text-align: left;
      border: 2px solid black;
      padding: 10px;
    }
    input.ng-dirty.ng-invalid {
      border-color: red;
    }
    </style>
  </head>
  <body>

    <div id="groceryList" ng-controller="gListCtrl">

      <h3>Grocery List</h3>

      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Purchased</th>
          <tr>
        </thead>
        <tr ng-repeat="grocery in groceries">
          <td>{{grocery.item}}</td>
          <td>
            <!-- Bind the checkbox to the data model -->
            <input type="checkbox" ng-model="grocery.purchased" />
          </td>
        </tr>
      </table>

      <br>

      <!-- User enters a new item and when the button is clicked
      the value in the input box is added to the array -->
      <label>New Item :
        <input type="text" ng-model="newItem" />
      </label>
      <button ng-click="addItem(newItem)">Add Item</button>

      <!-- Error shows here if no item was entered -->
      <h4>{{missingNewItemError}}</h4>

    </div> <!-- End of groceryList -->

    <div ng-controller="userCtrl">

      <!-- Pass the user data to saveUser() -->
      <form name="userForm" ng-submit="saveUser(userInfo)">
        <label>First Name:</label>

        <!-- Define that a value is required and it must be 2 characters in length or more -->
        <input type="text" name="fName" ng-model="userInfo.fName"
        ng-required="true" ng-minlength="2" />

        <!-- $dirty is set to true if a user interacts with a element and then we check if the elements required field is true -->
        <span class="error-message" ng-show="userForm.fName.$dirty
        && userForm.fName.$error.required">Must Enter a First Name
        </span>

        <!-- Check if the element has been edited and whether it contains at least 2 characters -->
        <span class="error-message" ng-show="userForm.fName.$dirty
          && userForm.fName.$error.minlength">Must be a Minimum of 2 Characters</span>

        <br><br>

        <label>Last Name:</label>

        <input type="text" name="lName" ng-model="userInfo.lName"
        ng-required="true" ng-minlength="2" />

        <span class="error-message" ng-show="userForm.lName.$dirty
        && userForm.lName.$error.required">Must Enter a Last Name
        </span>

        <span class="error-message" ng-show="userForm.lName.$dirty
          && userForm.lName.$error.minlength">Must be a Minimum of 2 Characters</span>

        <br><br>

        <label>Street:</label>

        <input type="text" name="street" ng-model="userInfo.street"
        ng-required="true" ng-minlength="6" ng-pattern="/^(\d{3,})\s?(\w{0,5})\s([a-zA-Z]{2,30})\s([a-zA-Z]{2,15})\.?\s?(\w{0,5})$/" />

        <span class="error-message" ng-show="userForm.street.$dirty
        && userForm.street.$invalid">Must Enter a Number, Street and Street Type (ex: 123 Main St)
        </span>

        <br><br>

        <label>Subscribe:</label>

        <input type="checkbox" name="subscribe" ng-model="userInfo.subscribe" ng-true-value="'Subscribe'" ng-false-value="'Don\'t Subscribe'" />

        <br><br>

        <label>Delivery Method:</label>

        <select name="delivery" ng-model="userInfo.delivery"  ng-required="true">

          <option value="Email">Email</option>
          <option value="Mail">Mail</option>

        </select>

        <br><br>

        <!-- Disable the button until every element in the form is valid -->
        <input type="submit" value="Save" ng-disabled="userForm.$invalid"/>

        <!-- Output new users -->
        <ul>
        <li ng-repeat = "item in user">
          {{ 'User: ' + item.fName + " " + item.lName + " " + item.street +
            " " + item.subscribe + " " + item.delivery}}
        </li>
      </ul>

    </div> <!-- End of userCtrl -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/exam5.js"></script>

  </body>
</html>
