<!doctype html>
<html ng-app="app6" ng-cloak>
  <head>
    <title>AngularJS Tutorial 6</title>
    <style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
    </style>
  </head>
  <body>

    <!-- Demonstrating how to use $rootScope to share data between 2 controllers -->
    <div ng-controller="heroCtrl">

      <!-- Search for heroes in the scope -->
      <label>Hero to Search for : </label>
      <input type="text" ng-model="heroName" />
      <br><br>
      <button ng-click="getHeroData()">Submit</button>
      <br><br>

      {{heroData}}<br>

    </div>

    <div ng-controller="heroCtrl">

      <!-- Add new heroes -->
      <label>Hero Name : </label>
      <input type="text" ng-model="heroName" /><br><br>
      <label>Real Name : </label>
      <input type="text" ng-model="realName" /><br><br>
      <button ng-click="addHeroData(realName, heroName)">Add</button>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/exam6.js"></script>

  </body>
</html>
