<!doctype html>
<html ng-app="app7" ng-cloak>
  <head>
    <title>AngularJS Tutorial 7</title>
    <style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
    </style>
  </head>
  <body>

    <!-- Demonstrating how to use controller inheritance -->
    <div ng-controller="mainCtrl as parent">

      <!-- Display parent data -->
      <p>Name : {{parent.name}}</p>
      <p>Sound : {{parent.sound}}</p>
      <button ng-click=parent.animalClick()>Animal Data</button><br>
    </div>

    <div ng-controller="dogCtrl as dog">
      <p>Name : {{dog.child.name}}</p>
      <p>Sound : {{dog.child.sound}}</p>

      <!-- Call the parent method using the dog fields -->
      <button ng-click=dog.child.animalClick()>Dog Data</button><br><br>

      <!-- Call the dog method -->
      <button ng-click=dog.child.dogData()>More Dog Data</button><br><br>

        <!-- Change a field value -->
        <input ng-model="dog.child.bark" /><br><br>
       <span>New Bark : {{dog.child.bark}}</span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="exam7.js"></script>

  </body>
</html>
