[submodule "c/BegC4D/chapter06/ex0612/c/head-first-c"]
	path = c/BegC4D/chapter06/ex0612/c/head-first-c
	url = https://github.com/dogriffiths/HeadFirstC.git
[submodule "free-programming-books"]
	path = free-programming-books
	url = https://github.com/EbookFoundation/free-programming-books.git
[submodule "rust/programming_rust"]
	path = rust/programming_rust
	url = https://github.com/ProgrammingRust/examples.git
[submodule "udacity_ud864_google_maps.git"]
	path = udacity_ud864_google_maps.git
	url = https://github.com/udacity/ud864.git
[submodule "rust/rustlang-book"]
	path = rust/rustlang-book
	url = https://github.com/rust-lang/book.git
[submodule "c/headfirst-c"]
	path = c/headfirst-c
	url = https://github.com/dogriffiths/HeadFirstC.git
