<!doctype html>
<html ng-app="app15" ng-cloak>
  <head>
    <title>AngularJS Tutorial 15</title>
    <style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
    .thick {
      font-weight: bold;
    }
    </style>
  </head>
  <body>

    <div ng-controller="mainCtrl">

      <button ng-click="getData()">Get Data</button>
      <br><br>

      <!-- Display raw JSON -->
      {{players}}

      <!-- Put JSON in a list -->
      <ul>
        <li ng-repeat="player in players">
          {{ player.name + " hit " + player.hr +
          " Home Runs"}}
        </li>
      </ul>
      <br>
      Translate :
      <input type="text" ng-model="wordsToTranslate"/>
      <br><br>
      <button ng-click="translate()">Translate</button>
      <br><br>
      {{translated}}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/exam15.js"></script>
  </body>
</html>
